contexttimer
decord
einops>=0.4.1
fairscale==0.4.4
ftfy
iopath
ipython
omegaconf
opencv-python==4.8.0.76
opendatasets
packaging
pandas
plotly
pre-commit
pycocoevalcap
pycocotools
python-magic
scikit-image
streamlit
timm==0.4.12
numpy==1.24.3
# torch==1.10.0
# torchvision
tqdm
# transformers>=4.15.0,<4.22.0
webdataset
wheel
sentencepiece
